section.page.pageOne
  h2 Endpoint Status

  p Current status of all application endpoints.

  table.container
    thead
      tr
        th Name
        th URL
        th Status

    tbody(data-hook="endpoint-list")

  .buttons.btn-group
    button.btn.btn-default(data-hook="fetch") .fetch()
