section.page.pageOne
  h2 Endpoint Status

  p Current status of all application endpoints.

  ul.list-group(data-hook="endpoint-list")

  .buttons.btn-group
    button.btn.btn-default(data-hook="fetch") .fetch()
